report_*.txt
.DS_Store
debug_map_*.html

# === UNIVERSAL ===
output*/
_temp*.?*
OTHER_REPOS/
# === TYPESCRIPT ===
node_modules/
dist/
_site/
*.tsbuildinfo
.eslintcache
.prettiercache
test-results/
playwright-report/
blob-report/
coverage/
meta.json
stats.html


